.datatable .col {
    cursor: pointer;
}

.datatable .col .pointer:after {
    font-size: 70%;
    content: '';
    margin-right: 18px;
}

.datatable .col .pointer:hover:after {
    font-size: 70%;
    content: '🔻';
    margin-right: 0;
}

.table td,
.table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 3px solid #a6b9cc;
}