.search-area {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.navbar-collapse {
    margin: 0 auto;
    justify-content: center;
    align-items: flex-start;
}

.navbar {
    padding: 25px 30px;
    margin: 0 auto;
    height: 80%;
}

.bg-light {
    background-color: #ffffff!important;
}